<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Farms</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">



</head>

<body>
	<h1><%=farm.name%></h1>	
	<ul>
		<li>City: <%=farm.city%></li>
		<li>Email: <%=farm.email%></li>
	</ul>	
	<form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
		<button>DELETE FARM</button>
	</form>
	<h2><%=farm.name%> PRODUCTS</h2>
	<ul>
		<% for(product of farm.products) { %>
			<li><a href="/products/<%=product._id%>"><%=product.name%></a></li>
		<% }%>
	</ul>
	<a href="/farms/<%=farm._id%>/products/new">ADD PRODUCT</a>
	<a href="/products">GO BACK</a>

</body>
</html>