<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Products</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">



</head>

<body>
	
	<h1><%=category.toUpperCase() %> PRODUCTS</h1>
	<a href="/products/new">Create a new product</a>
	
	<ul>
		<% for(product of products){ %>
			<li><%= product.name %> - $<%= product.price %></li>
			<a href="/products/<%= product.id %>">DETAILS</a>
			<form action="/products/<%=product._id%>?_method=DELETE" method="POST">
				<button>DELETE</button>
			</form>
		<% } %> 
		<% if(category !== "ALL"){ %>
			<a href="/products">GO BACK TO ALL PRODUCTS</a>
		<% } %>
	</ul>

</body>
</html>